/* Enable a fluid scroll behavior for the HTML element */
html {
  scroll-behavior: smooth;
}

/* Set the body foreground color value */
body {
  color: var(--text-color);
}

/* Set the foreground color value of all the anchor elements */
a {
  color: var(--text-color);
}

/* Set the display of all elements with the class visually-hidden */
.visually-hidden {
  display: none;
}

/* Set foreground color of all elements with the class card-category */
.card-category {
  color: var(--color-primary);
}

/* Set the foreground color of all elements with the class section-tagline */
.section-tagline {
  color: var(--color-primary);
}

/* Target the root element(aka html element) */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}
